@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --whiteHex: #FFFFFF;
  --blueHex: #12305B;
  --btnBgHex: #FC5959;
  --footerBgHex: #043C50;
  --footerTextHex: #ABABAB;
  --cardHex: #FBF9F2;
  --cardTextHex: #4D533C;
  --cardPositionHex: #152934;
  --textHex: rgba(33, 56, 66, 0.6);
  --fontPoppins: "Poppins", sans-serif;
}
body, html {
  position: relative;
  overflow-x: hidden;
  font-weight: 400;
  font-family: var(--fontPoppins);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img, svg {
  cursor: pointer;
}